<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style-adaptive.css' />
    <link rel='stylesheet' href='/stylesheets/fotorama.css' />
    <script src="/javascripts/jquery-1.11.1.min.js" /></script>
    <script src="/javascripts/fotorama.js" /></script>
  </head>
  <body>
    {{{body}}}

    <script src="javascripts/script.js"></script>
  </body>
</html>
